.form
	absolute top 50% left 10px
	z-index 2
	padding 10px
	border-radius 5px
	background rgba(white, 0.8)
	transform translate(-100%, -50%)
	transition transform 0.3s 0.5s

	&:hover
		transform translate(0%, -50%)
		transition-delay 0s

	&-label
		display block
		cursor pointer

	&-input,
	&-submit
		display block
		width 100%

	&-submit
		margin-top 10px
